---
import Link from './ui/link.astro';
const { heading, subHeading, link } = Astro.props;
const { href, isExternal, size, block, style, label } = link;
---

<div>
  <!-- Red section with diagonal cut -->
  <div
    class='bg-accent text-white py-14 sm:py-16
        md:pt-40 md:pb-16 lg:pt-48 xl:pt-64 xl:pb-24 md:clip-path-custom'
  >
    <div class='max-w-screen-lg mx-auto text-center'>
      <h2
        class='uppercase font-bold text-2xl sm:text-7xl font-heading transition-all duration-700 ease-linear
      is-visible opacity-100 translate-y-0
      false
      text-white'
      >
        {heading}
      </h2>
      <p
        class='text-white font-bold md:text-lg lg:text-2xl lg:leading-9 opacity-100'
      >
        {subHeading}
      </p>
      <Link {style} {isExternal} {block} {size} {href}>{label}</Link>
    </div>
  </div>
</div>
