---
import SEO from '@/components/seo.astro';
import { ViewTransitions } from 'astro:transitions';
const { title, description, image, frontmatter, robots } = Astro.props;
---

<!-- Generate favicons from somewhere like https://favicon.io/ or https://realfavicongenerator.net/ --><!-- Copy files into the public folder -->
<head>
  <meta charset='UTF-8' />
  <title>{title}</title>
  <meta name='description' content={description} />
  <SEO {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/png' href='/favicon-48x48.png' sizes='48x48' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <link rel='shortcut icon' href='/favicon.ico?' />
  <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
  <meta name='apple-mobile-web-app-title' content='RPM Construction' />
  <link rel='manifest' href='/site.webmanifest' />
  <link rel='preconnect' href='https://res.cloudinary.com' />
  <meta name='generator' content={Astro.generator} />
  <link rel='sitemap' href='/sitemap-index.xml' />

  <ViewTransitions />
</head>
